/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F4F6F7;
}

/* header */

header{
  padding: 10px 10px;
  background-color: white;
}

h1{
  display: inline-block;
  font-size: 40px;
}

header img{
  vertical-align: middle;
}

/* main */


/* footer */
